
*{
	margin: 0;
	padding: 0;
	margin-right: 0px;
}

body, html {
  height: 100%;

}
body{
	background-color: #f6f6f6;
	overflow-x: hidden;
/*	overflow-x: hidden;*/
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 10px; 
  border: 3px solid #EB7859; 
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 20px; /* Bottom margin */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #EB7859;
  position: relative; 
  left: 46%;
  color: white;
  font-weight: bold;
  padding: 18px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}


/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color:#f6f6f6;
  padding: 20px;
}
#bold{
	font-weight: bold;
}
#primary{
	color: #EB7859; 
}
#divider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  /* drop the height to have a constant angle for all screen widths */
}
#visible1, #visible2, #visible3{
	opacity: 1;
	text-align: center;
	font-size: 70px;
	background: #EB7859;
	color:white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    animation: pulse 1s linear infinite;
}
.services{
	margin-top: 100px;
}
#visible1{
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1: 

}
.service1, .service2, .service3{
	text-align: center;
	position: relative;
	text-transform: uppercase;
}
.service1{
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2: 
}
#visible2{
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1: 
}
.service2{
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2: 
}
#visible3{
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 1: 
}
.service3{
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2: 
}
.underline {
    background: #EB7859 ;
    display: block;
    height: 3px;
    margin: 15px auto;
    width: 60px;
}
.bg {
  /* The image used */
  background-image: url("images/dog7.jpeg");
  /* Full height */
  height: 70%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 85% 85% / 30%;
}
.services{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}
p{
	display: block;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    color: #666;
}
.welcome{
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	letter-spacing: 1px;
	margin-top: 0px;
}
.subheading{
	padding-top: 20px;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	margin-top: 0;
}
.overlay{
	background: black;
	width: 100%;
	height: 70%;
	position: absolute;
	top: 0;
	opacity: 0.6;
	border-radius: 0 0 85% 85% / 30%;
}
.left{
	border-left: 3px solid white;
	padding-left: 20px;
}
.logo{
	background-image: url("logo.svg");
	background-position: center;
	background-size: cover ;
	width: 15%;
	height: 30%;
	position: absolute;
	top: 40px;
	left: 20px;
}

.fas{
	text-align: center;
	position: relative;
	width: 10px;
	left: 33%;
	opacity:0;
}
.fas:hover{
	opacity: 1;
}
ul{
	position: relative;
	left: 20%;
	top: -450px;
	width: 100%;
}

li{
	display: inline-block;
	margin: 10px;
    color: white;
    font-weight:bold;
    font-size: 20px;
}
footer{
	padding-top: 20px;
	background-color: #222;
	height: 20%;
	padding-top: 0;
	width: 100%;
	margin-top: 0px;
}
.copyright{
	color: #ddd;
	text-align: center;
	position: relative;
	top: 10%;
	font-family: "Montserrat", sans-serif;
}
.contact{
	width: 100%;
	height: 30%;
	background-color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: -20px;
	margin-top: 29px;
	color: #666;
	 border-radius: 25% 25% 0 0 / 30%;
}
.headline{
	font-size: 150%;
	color: #333;
	text-transform: uppercase;
}
.para{
	margin-bottom: 100px;
}
q{
	position: absolute;
	left: 75%;
	top: 70%;
	font-weight: bold;
}
.teamPhoto1, .teamPhoto2, .teamPhoto3, .teamPhoto4{
	border: 3px solid #EB7859;
	width: 150px;
	height:150px;
	border-radius: 50%;
	box-shadow: 0 0 15px, 0 0 15px #EB7859;
}
.teamPhoto1{
	background:url('images/team/lori-hanson.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row: 1/1;
	margin-top: 15px;
}
.teamPhoto2{
	background:url('images/team/gary-simpson.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row: 1/1;
}
.teamPhoto3{
	background:url('images/team/joanna-davies.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row: 1/1;
}
.teamPhoto4{
	background:url('images/team/rebecca-harrison.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	grid-column-start: 5;
	grid-column-end: 5;
	grid-row: 1/1;
}
.teamContainer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    margin-bottom: 30px;
}
.name1{
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row: 2/2;
}
.name2{
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row: 2/2;
}
.name3{
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row: 2/2;
}
.name4{
	grid-column-start: 5;
	grid-column-end: 5;
	grid-row: 2/2;
}
.name1 span, .name2 span, .name3 span, .name4 span{
	color: #EB7859;
	margin-bottom: 30px;
}
.bar1{
	width: 30px;
	height: 4px;
	background: white;
	position: relative;
	left: 60%;
}
.service{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr  ;
    width: 100%;
    margin-bottom:20px;
}
.serviceOne{
	background: url('images/Dogs1.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row: 1;
	border-radius: 20% 0 0 20% / 20%;
}
.fas .fa-bars{
	visibility: visible;
}
.price{
	background: #EB7859;
	width: 100%;
	height: 100%;
	margin-left: 0px;
	margin-top: 0px;
	border-radius: 0 20% 20% 0 / 20%;
	color: white;
	text-align: center;
	align-items: center;
}
.descriptive{
	background: #ebebeb;
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row: 1;
	width: 100%;
	height: 220px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0;
}
.portfolio {
	margin-left: 20px;
	margin-right: 20px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.footerlogo{
	visibility: hidden;
}
.portfolio img {
	width: 100%;
	box-shadow: var(--shadow);
}
.zoom {
  transition: transform 1s; /* Animation */

  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.fa-bars{
	color: white;
	z-index: 20;
	visibility: visible;
}
/* Style the navigation menu */
.mobNav{
/*  overflow: hidden;*/
  visibility: hidden;
  background-color: #333;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 8;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.mobnav #links {
  display: none;
}

/* Style navigation menu links */
.mobNav a {
  color: white;
  background: #EB7859;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.mobNav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.mobNav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}
@media(max-width: 480px) {
	.logo{
		visibility: hidden;
	}
	q{
		visibility: hidden;
	}
	.overlay{
		visibility: hidden;
	}
	p{
		margin-right: 0;
		margin-left: 0;
	}
	*{
		overflow-x: hidden;
	}
	li{
		visibility: hidden;
	}
	ul{
		visibility: hidden;
	}
	.services{
	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
	#visible1{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1: 
	margin-left:0;

}

.service1{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2; 
}
#visible2{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3: 
}
.service2{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 4;
	grid-row-end: 4: 
}
#visible3{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 5;
	grid-row-end: 5: 
}
.service3{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 6;
	grid-row-end: 6: 
}
.teamPhoto1{
	background:url('images/team/lori-hanson.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row: 1/1;
	position: relative;
	align-content: center;
}
.teamPhoto2{
	background:url('images/team/gary-simpson.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row: 3/3;
}
.teamPhoto3{
	background:url('images/team/joanna-davies.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row: 5/5;
}
.teamPhoto4{
	background:url('images/team/rebecca-harrison.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row: 7/7;
}
.teamContainer{
	display: grid;
	grid-template-columns: 1fr ;
    grid-template-rows: 1fr  ;
}
.name1{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row: 2/2;
}
.name2{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row: 4/4;
}
.name3{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row: 6/6;
}
.name4{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row: 8/8;
}
.mobNav{
	visibility: visible;
}
.footerlogo{
	width: 50%;
	position: relative;
	visibility: visible;
	left: 25%;
	top: 30px;
}
#visible1, #visible2, #visible3{
	position: relative;
	left: 37%;
	margin-bottom: 10px;
}
.teamPhoto1, .teamPhoto2, .teamPhoto3, .teamPhoto4{
	position: relative;
	left: 32%;
	margin-bottom: 10px;
}
.name1, .name2, .name3, .name4 {
	text-align: center;
	margin-bottom: 30px;
}
.mobileLogo{
	width: 100%;
}
.portfolio{
	margin-top: 50px;
}
.zoom:hover {
  transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.serviceTitle1, .serviceTitle2, .serviceTitle3{
	grid-column-start: 1;
	grid-column-end: 1;
	color: white;
	background: #EB7859;
    border-radius: 20% 0 0 20% / 20%;
    height: 100%;
}
.service{
	grid-template-columns: 1fr 1fr 1fr ;
	margin-top: 20px;
	align-items: center;
	vertical-align: center;
}
.price{
	align-items: center;
	vertical-align: center;
	grid-column:3/3;
}
.descriptive{
	grid-column-start: 2;
	grid-column-end: 2;
	vertical-align: bottom;

}
}